{% extends 'header.html' %}
  {% block titulo %}
    Aprovação
  {% endblock %}
{% block container %}
<div id="recovery">
  <div class="nav">
<h1 class="title-recovery">Resultados</h1>
<a href="/aprovacao/create" class="btn btn-primary btn-adc" style="background-color: #43B6DB !important">+ Adicionar Resultado</a>
  </div>
</div>
  <table class="table">
    <thead style="background-color: #43B6DB !important; color: white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Aluno</th>
        <th scope="col">Matrícula do Aluno</th>
        <th scope="col">Nota do Aluno</th>
        <th scope="col">Aprovado</th>
        {% if current_user.admin %}
        <th scope="col">Ações</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for a in aprovacao %}
        <tr>
          <th scope="row">{{a.id}}</th>
          <td>{{a.usuario.nome}}</td>
          <td>{{a.usuario.matricula}}</td>
          <td>{{a.nota}}</td>
          <td>{{a.aprovacao}}</td>
        {% if current_user.admin %}
          <td>
            <a href="/aprovacao/update/{{a.id}}" class="btn btn-info">Editar</a>
				    <a href="/aprovacao/delete/{{a.id}}" class="btn btn-danger">Excluir</a>
          </td>
        {% endif %}
        </tr>
	    {% endfor %}
    </tbody>
  </table>
{% endblock %}