{% extends 'header.html' %}
  {% block titulo %}
    Edital
  {% endblock %}
{% block container %}
<div id="recovery">
  <div class="nav">
    <h1 class="title-recovery">Edital</h1>
    <a href="/edital/create" class="btn btn-primary btn-adc" style="background-color: #43B6DB !important">+ Adicionar Edital</a>
  </div>
</div>
  <table class="table">
    <thead style="background-color: #43B6DB !important; color: white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Observações</th>
        <th scope="col">Link Edital</th>
        {% if current_user.admin %}
        <th scope="col">Ações</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for e in edital %}
        <tr>
          <th scope="row">{{e.id}}</th>
          <td>{{e.titulo}}</td>
          <td>{{e.paragrafo}}</td>
          <td>{{e.link}}</td>
        {% if current_user.admin %}
          <td>
            <a href="/edital/update/{{e.id}}" class="btn btn-info">Editar</a>
				    <a href="/edital/delete/{{e.id}}" class="btn btn-danger">Excluir</a>
          </td>
        {% endif %}
        </tr>
	    {% endfor %}
    </tbody>
  </table>
{% endblock %}