{% extends 'header.html' %}
  {% block titulo %}
    Home
  {% endblock %}
{% block container %}
<div class="main-container">
<h1 class="title-index">Olá! Seja bem-vindo, <span>{{current_user.nome}}</span></h1>
  <ul class="group-cards">
  {% for ed in edital %}
    <a href="{{ed.link}}">
    <li class='edital-card'>
      <p class="card-text">{{ed.id}} - {{ed.titulo}} | {{ed.paragrafo}}</p>
    </li>
    </a>
  {% endfor %}
  </ul>
  <div class="right-container">
      <!-- CARROSSEL -->
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/assets/frame1.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/assets/frame2.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/assets/frame3.svg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- FINAL CARROSSEL -->
      <div class="card-inscricao">
        <div class="title-inscricao">Gostou? Inscreva-se no Processo Seletivo!</div>
        <button class="p-inscricao"><a href="/inscricao/create" class="p-inscricao">INSCREVA-SE AQUI!</a></button>
      </div>
  </div>
</div>
{% endblock %}