{% extends 'header.html' %}
  {% block titulo %}
    Inscrição
  {% endblock %}
{% block container %}
<div id="recovery">
  <div class="nav">
    <h1 class="title-recovery">Inscrições</h1>
    <a href="/inscricao/create" class="btn btn-primary btn-adc" style="background-color: #43B6DB !important">+ Adicionar Inscrição</a>
  </div>
</div>
  <table class="table">
    <thead style="background-color: #43B6DB !important; color: white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Aluno</th>
        <th scope="col">E-mail do Aluno</th>
        <th scope="col">Matrícula do Aluno</th>
        <th scope="col">Edital</th>
        <th scope="col">Turno</th>
        {% if current_user.admin %}
        <th scope="col">Ações</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for i in inscricao %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.usuario.nome}}</td>
          <td>{{i.usuario.email}}</td>
          <td>{{i.usuario.matricula}}</td>
          <td>{{i.edital.titulo}}</td>
          <td>{{i.turno}}</td>
        {% if current_user.admin %}
          <td>
            <a href="/inscricao/update/{{i.id}}" class="btn btn-info">Editar</a>
				    <a href="/inscricao/delete/{{i.id}}" class="btn btn-danger">Excluir</a>
          </td>
        {% endif %}
        </tr>
	    {% endfor %}
    </tbody>
  </table>
{% endblock %}