{% extends 'header.html' %}
  {% block titulo %}
    Inscrição
  {% endblock %}
{% block container %}
<div class="main-create">
  <div class="form-create">
    <form action="/inscricao/update/{{inscricao.id}}" method="POST" class="form-create-create">
      Matrícula: <input type="text" name="id_usuario" value="{{inscricao.id_usuario}}"><br/>
      Edital: <input type="text" name="id_edital" value="{{inscricao.id_edital}}"><br/>
      Turno: <input type="text" name="turno" value="{{inscricao.turno}}"><br/>
      <input type="submit" name="Editar" class="btn btn-success">
    </form>
  </div>
  <div class="img-create">
    <img src="/static/assets/study.svg" class="image pic-create" alt="" height="500vh"/>
  </div>
</div>
{% endblock %}