{% extends 'header.html' %}
  {% block titulo %}
    Inscrição
  {% endblock %}
{% block container %}
<div class="form-delete">
  <h1 class="text-del">Você tem certeza que deseja excluir a inscrição de matrícula {{inscricao.id_usuario}}?</h1>
  <form method='post' action='/inscricao/delete/{{inscricao.id}}'>
    <div class="group-buttons-del">
      <input type="submit" value="Deletar" class="delete submit-del">
      <a href="/inscricao/recovery" class="delete">Cancelar</a>
    </div>
  </form>
  <img src="/static/assets/cleanup.svg" alt="..." height="500vh">
</div>
{% endblock%}