{% extends 'header.html' %}
  {% block titulo %}
    Usuários
  {% endblock %}
{% block container %}
<div id="recovery">
  <div class="nav">
    <h1 class="title-recovery">Usuários</h1>
  </div>
</div>
  <table class="table">
    <thead style="background-color: #43B6DB !important; color: white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Senha</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
        <tr>
          <th scope="row">{{u.id}}</th>
          <td>{{u.nome}}</td>
          <td>{{u.email}}</td>
          <td>{{u.matricula}}</td>
          <td>{{u.senha}}</td>
          <td>
            <a href="/usuarios/update/{{u.id}}" class="btn btn-info">Editar</a>
				    <a href="/usuarios/delete/{{u.id}}" class="btn btn-danger">Excluir</a>
          </td>
        </tr>
	    {% endfor %}
    </tbody>
  </table>
{% endblock %}