{% extends 'header.html' %}

{% block container %}
<form action="/usuarios/update/{{usuario.id}}" method="POST">
  Nome: <input type="text" name="nome" value="{{usuario.nome}}"><br/>
  E-mail: <input type="email" name="email" value="{{usuario.email}}"><br/>
  Matrícula: <input type="text" name="matricula" value="{{usuario.matricula}}"><br/>
  Senha: <input type="password" name="senha" value="{{usuario.senha}}"><br/>
  <input type="submit" name="Cadastrar">
  <input type="reset" name="Limpar">
</form>
{% endblock %}